@import '~@/scss/variable.scss';
$form-item-padding: 20px;

.template_info_modal {
  .at-modal__content {
    font-size: $font-size;
  }
  &-label {
    font-size: 28px;
    color: #999;
  }
  &-title {
    & > .at-input__container {
      display: flex;
      justify-content: flex-start;
    }
    .at-input__input {
      padding: $form-item-padding 0;
    }
  }
  &-cates {
    margin-bottom: 32px;
  }
}
